extends layout

block content
  h1= title
  p Welcome to #{title}
      h2 Routes list
          ul
              li
                a(href='/users') Users
                ul
                    a(href='/users/accountlist') GET - Accounts list
                ul
                    a(href='/users/accountid') GET - Account by Id
                ul
                    a(href='/users/adduser') POST - Add User
                ul
                    a(href='/users/deleteuser/:id') DELETE - Delete User
                ul
                    a(href='/users/get_info') GET - Get info
                ul
                    a(href='/users/create') POST - Create User
                ul
                    a(href='/users/set_info') PUT - Set User
                ul
                    a(href='/users/delete') DELETE - Delete User
              li
                a(href='/ingredients') Ingredients
              li
                a(href='/recipes') Recipes
              li
                a(href='/products') Products
              li
                a(href='/variety') Variety