extends layout

block content
  h1= title
  p Welcome to #{title}
      h2 Routes list
          ul
              li
                a(href='/users') Users
              li
                a(href='/ingredients') Ingredients
              li
                a(href='/recipes') Recipes
              li
                a(href='/products') Products
              li
                a(href='/variety') Variety