//
   Created by Julian on 01/11/2014.

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/ingredients.css')
    body
        block content
        script(src='/javascripts/jQuery.js')
        script(src='/javascripts/global.js')
        script(src='/javascripts/ingredients_function.js')
        h1= title
        p Managing Ingredients
        // Wrapper
        #wrapper
            // INGREDIENTINFO
            #ingredientsInfo
                h2 Ingredient Info
                p
                    strong Variety:
                    |  <span id='ingredientsInfoVariety'></span>
                    br
                    strong Approved:
                    |  <span id='ingredientsInfoApproved'></span>
            // /INGREDIENT INFO

            // INGREDIENT LIST
            h2 Ingredients List
            #ingredientsList
                table
                    thead
                        th Name
                        th Season
                        th Delete?
                    tbody
            // /INGREDIENT LIST

            // ADD INGREDIENT
            h2 Add Ingredients
            #addIngredients
                fieldset
                    input#inputIngredientsName(type='text', placeholder='Name')
                    input#inputIngredientsSeason(type='text', placeholder='Season')
                    br
                    input#inputIngredientsVariety(type='text', placeholder='Variety')
                    input#inputIngredientsApproved(type='text', placeholder='Approved')
                    br
                    button#btnAddIngredients Add Ingredients
            // /ADD INGREDIENT

        // /WRAPPER