doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        block content
        script(src='/javascripts/jQuery.js')
        script(src='/javascripts/global.js')
        script(src='/javascripts/users_function.js')
        script(src='/javascripts/ingredients_function.js')