//
   Created by Julian on 02/11/2014.

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/products.css')
    body
        block content
        script(src='/javascripts/jQuery.js')
        script(src='/javascripts/global.js')
        script(src='/javascripts/products_function.js')
        h1= title
        p Managing Products
        // Wrapper
        #wrapper
            // PRODUCTS INFO
            #productsInfo
                h2 Product Info
                p
                    strong Description:
                    | <span id='productsInfoDescription'></span>
                    br
                    strong Price:
                    | <span id='productsInfoPrice'></span>
                    br
                    strong Recipes:
                    | <span id='productsInfoRecipes'></span>
                    br
                    strong Locations:
                    | <span id='productsInfoLocations'></span>
                    br
                    strong Origin:
                    | <span id='productsInfoOrigin'></span>
                    br
                    strong Label:
                    | <span id='productsInfoLabel'></span>
                    br
                    strong Photos:
                    | <span id='productsInfoPhotos'></span>
            // /PRODUCT INFO
            // PRODUCT LIST
            h2 Products List
            #productsList
                table
                    thead
                        th Name
                        th Price
                        th Delete?
                    tbody
            // /PRODUCT LIST
            // ADD PRODUCT
            h2 Add Products
            #addProducts
            // /ADD PRODUCT
        // /WRAPPER