//
   Created by Julian on 03/11/2014.

doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/variety.css')
    body
        block content
        script(src='/javascripts/jQuery.js')
        script(src='/javascripts/global.js')
        script(src='/javascripts/variety_function.js')
        h1= title
        p Managing Variety
        // Wrapper
        #wrapper
            // VARIETY INFO
            #varietyInfo
            // /VARIETY INFO
            // VARIETY LIST
            h2 Variety List
            #varietyList
                table
                    thead
                        th Name
                        th Saeson
                        th Delete?
                    tbody
            // /VARIETY LIST
            // ADD VARIETY
            h2 Add Variety
            #addVariety
            // /ADD VARIETY
        // /WRAPPER