<a href="#/">Back to articles</a>
<div ng-show="loading">Loading...</div>
<div ng-hide="loading">

	<h1>{{title}}</h1>

	<div ng-repeat="comment in comments | filter:{content:query} | orderBy:order">
		<p>
			<strong>{{comment.username}}</strong><br>
			{{comment.content}}
		</p>
	</div>

	<form ng-submit="addComment()">
		<input type="text" placeholder="username" ng-model="newComment.username"/><br>
		<input type="text" placeholder="city" ng-model="newComment.city"/><br>
		<textarea ng-model="newComment.content"></textarea>
		<input type="submit" value="envoyer">
	</form>
</div>