<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nourriture - Home</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://localhost/TestAngJs/partials/style.css">
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
		            <span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Nourriture</a>
			</div>
			<div class="collapse navbar-collapse pull-right">
				<ul class="nav navbar-nav">
					<li class="active"><a href="#/">Home</a></li>
					<li><a href="#">Login</a></li>
					<li><a href="#">Sign Up</a></li>
					<li><a href="#/search">Search</a></li>
					<li><a href="#account">Account</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<div class="row background">
		<img class="row background img-responsive" src="./assets/apple.jpg">
	</div>
	<div class="row bg-white center-row">
		<div class="container">
			<legend>Login</legend>
			<form>
				<input type="text" placeholder="Username" class="form-control">
				<input type="password" placeholder="Password" class="form-control">
				<button type="button" class="btn btn-primary btn-lg pull-right">Login</button>
			</form>
		</div>
	</div>
	<div class="row center-row">
		<div class="container">
			<form class="form-horizontal">
				<legend>Sign Up</legend>
				<input id="text" type="text" placeholder="E-mail" class="form-control">
				<input id="text" type="password" placeholder="Password" class="form-control">
				<input id="text" type="password" placeholder="Confirm Password" class="form-control">
				<button class="btn btn-primary btn-lg pull-right">Submit</button>
			</form>
		</div>
	</div>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>