<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Nourriture - Search</title>
	<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="http://localhost/TestAngJs/partials/style.css">
</head>
<body>
	<nav class="navbar navbar-default" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Nourriture</a>
			</div>
			<div class="collapse navbar-collapse pull-right">
				<ul class="nav navbar-nav">
					<li><a href="./home.html">Home</a></li>
					<li class="active"><a href="./search.html">Search</a></li>
					<li><a href="#account">Account</a></li>
				</ul>
			</div>
		</div>		
	</nav>
	<div class="container">
		<div class="col-lg-12">
			<div class="input-group">
				<input id="input_search" type="text" placeholder="Search" class="form-control" ng-model="query">
				<span class="input-group-btn">
					<button id="btn_search" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>
				</span>
			</div>
		</div>
		<span class="col-xs-3">
			<input type="checkbox" name="ingredient" value="1">
			Ingredient
		</span>
		<span class="col-xs-3">
			<input type="checkbox" name="recipe" value="2">
			Recipe
		</span>
		<span class="col-xs-3">
			<input type="checkbox" name="product" value="3">
			Product
		</span>
		<span class="col-xs-3">
			<input type="checkbox" name="restriction" value="4">
			Food restriction
		</span>
	</div>
	<div class="container">
		<div class="col-sm-6 col-md-4" ng-repeat="post in posts | filter : query">
			<div class="thumbnail">
				<a href="#/comments/{{post.id}}"><img src="assets/burger.jpg" alt="..." class="img-responsive"></a>
				<div class="caption">
				<a href="#/comments/{{post.id}}"><h3>{{post.name}}</h3></a>
					<p>{{post.city}}</p>
				</div>
				<p>{{post.comments.length}} comments</p>
				<span class="label label-default">Recipe</span>
				<span class="pull-right">
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
					<span class="glyphicon glyphicon-star"></span>
				</span>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>