<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Nourriture - Food</title>
		<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#" id="header-title">Nourriture</a>
				</div>
				<div class="collapse navbar-collapse" id="menu">
					<ul class="nav navbar-nav">
						<li><a href="#">Home</a></li>
						<li class="active"><a href="#">Search</a></li>
						<li><a href="#">Account</a></li>
					</ul>
					<ul class="nav navbar-nav pull-right">
						<li><a href="#">Log Out</a></li>
					</ul>
				</div>
			</div>
		</nav>
		<div class="align-nav greenline"></div>

		<div class="row stardust-pattern">
			<div class="container">
				<img src="assets/burger.jpg" class="col-xs-5 col-sm-4 col-md-3">
				<div class="col-xs-7 col-sm-8 col-md-9" id="recipe-name">
					<h1>{{food.name}}</h1>
				</div>
			</div>
		</div>
		<div class="container nutritional_values">
			<h2>Nutritional Values</h2>
			<div class="values">
				<ul>
					<li>Calcium: {{food.nutritional_values.calcium}}</li>
					<li>Calories: {{food.nutritional_values.calories}}</li>
					<li>Carbohydrate: {{food.nutritional_values.carbohydrate}}</li>
					<li>Cholesterol: {{food.nutritional_values.cholesterol}}</li>
					<li>Fat: {{food.nutritional_values.fat}}</li>
					<li>Fiber: {{food.nutritional_values.fiber}}</li>
					<li>Iron: {{food.nutritional_values.iron}}</li>
					<li>Measurement description: {{food.nutritional_values.measurement_description}}</li>
					<li>Metric serving amount: {{food.nutritional_values.metric_serving_amount}}</li>
					<li>Metric serving unit: {{food.nutritional_values.metric_serving_unit}}</li>
					<li>Monounsaturated fat: {{food.nutritional_values.monounsaturated_fat}}</li>
					<li>Number of units: {{food.nutritional_values.number_of_units}}</li>
					<li>Polyunsaturated fat: {{food.nutritional_values.polyunsaturated_fat}}</li>
					<li>Potassium: {{food.nutritional_values.potassium}}</li>
					<li>Protein: {{food.nutritional_values.protein}}</li>
					<li>Saturated fat: {{food.nutritional_values.saturated_fat}}</li>
					<li>Serving description: {{food.nutritional_values.serving_description}}</li>
					<li>Sodium: {{food.nutritional_values.sodium}}</li>
					<li>Vitamin A: {{food.nutritional_values.vitamin_a}}</li>
					<li>Vitamin C: {{food.nutritional_values.vitamin_c}}</li>
				</ul>
			</div>
		</div>
	</body>
</html>